$font-primary: IBM plex mono, monospace;
$font-logo: Nova Flat;
$primary-color: #6144F7;
$secondary-color: #FFEA01;
$default-margin: 7px;
$shadow_violet:  0px 0px 6px 3px rgba(97, 68, 247, 0.7);
$shadow_red:  0px 0px 3px 1px rgba(206, 9, 9, 0.7);
$border-radius: 27px;