@import 'config';


* {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-primary;
}

.navbar {
  display: flex;
  margin: 5px;

  & a {
    white-space: nowrap;

    &:visited {
      color: black;
    }

    &:link {
      text-decoration: none;
      color: black;
    }

    //&nav-item:hover {
    //  font-weight: 500;
    //  border-bottom: solid 2px $secondary-color;
    //}

  }

  & .navbar-brand {
    font-family: $font-logo;
    font-size: 30px;
    white-space: nowrap;
  }

  & .nav-item {
    margin: $default-margin;

    &:hover {
      font-weight: 500;
      border-bottom: solid 2px $secondary-color;
    }

    & .input-group {
      margin: $default-margin;
    }
  }

  .container-fluid {
    display: flex;
    width: 100%;
    height: inherit;

    & > * {
      display: flex;
      align-items: center;
    }

    & > .float-left {
      margin-left: auto;

    }
  }

  .search {
    border: 1px solid black;
    border-radius: $border-radius;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 5px;
    height: 60%;


    &:focus-within {
      box-shadow: $shadow_violet;
    }


    & input {
      border: none;
      border-radius: inherit;

      &:focus-visible {
        outline: none;
      }
    }

    & button {
      background: transparent;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;


}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    display: flex;
    flex-direction: column;
  }
}

//@media (min-width: 768px) {
//  .container {
//    max-width: 720px;
//  }
//}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

//@media (min-width: 1200px) {
//  .container {
//    max-width: 1140px;
//  }
//}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
