<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Nova+Flat&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block stylesheet %}{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/assets/img/Logo_rtp.svg" alt="logo"/>
            Rate the Product</a>
        <div class="float-left" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item" id="all" href="/my_products"><i class="bi bi-eye"> </i> My products</a>

                {% if user.is_authenticated %}
                    <a class="nav-item" id="add_product" href="/upload"><i class="bi bi-file-earmark-plus"></i>
                        Add product</a>

                    <a class="nav-item" id="logout" href="/logout"><i class="bi bi-box-arrow-in-left"> </i>
                        Logout</a>
                    <a class="nav-item" href="/user/{{ user.get_id() }}">Witaj, {{ user.name }}</a>
                {% else %}
                    <a class="nav-item" id="login" href="/login"><i class="bi bi-box-arrow-in-right"> </i>
                        Login</a>

                    <a class="nav-item" id="signUp" href="/sign-up"><i
                            class="bi bi-box-arrow-in-down-right"></i> Sign Up</a>
                {% endif %}
            </div>
            <form action="/search" class="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}

<div class="container p-3">
    {% block content %} {% endblock %}
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>