{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
<div class="container-lg">
    <form method="POST" style="max-width:480px; margin:auto;">
      <h3 class="d-flex justify-content-center">Sign Up</h3>
        
      <div class="form-floating">

        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
          <label for="email">Adres email</label>
      </div>

      <div class="form-floating">

        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
        />
           <label for="password1">Hasło</label>
      </div>

      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
      
    </form>

</div>
    {% endblock %}
    