{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <div class="container-lg">

        <div class="container p-3 justify-content-center">
            <div class="col-4 p-3 m-auto">
                <img class="image-home" src="../static/assets/img/login-in-violet.svg" alt=""/>
            </div>
            <div class="col-sm-6 p-3 m-auto">
                <form method="post">
                    <div class="input-group mb-2 login-input-group">
                        <span class="input-group-text"> <i class="bi bi-envelope"></i> </span>
                        <input class="form-control" type="email" id="email" name="email" placeholder="E-mail"/>
                    </div>
                    <div class="input-group mb-2 login-input-group">
                        <span class="input-group-text"> <i class="bi bi-key"></i> </span>
                        <input class="form-control" type="password" id="password1" name="password1"
                               placeholder="Password"/>
                    </div>
                    <button class="btn btn-outline-success me-auto" type="submit">
                        Login
                    </button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
    