{% extends "base.html" %} {% block title %}Upload{% endblock %}

{% block content %}

    <div class="container p-3 justify-content-center">
        <form method="POST" enctype="multipart/form-data">

            <div class="col-4 m-auto">
                <img src="../static/assets/img/Folder.svg"/>
            </div>

            <div class="col-sm-6 p-3 m-auto">

                <div class="form-floating mb-3 upload-input-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nazwa produktu"
                           required/>
                    <label for="floatingInput">Nazwa produktu</label>
                </div>

                <div class="form-floating mb-3 upload-input-group">
                    <select class="form-select" id="floatingSelect" name="brand"
                            aria-label="Floating label select example" required>

                        <option selected></option>
                        {% for brand in brands %}
                            <option value="{{ brand.id }}">{{ brand.name }}</option>

                        {% endfor %}
                    </select>

                    <label for="floatingSelect">Producent</label>
                </div>

                <div class="form-floating mb-3 upload-input-group">
                    <textarea type="text" class="form-control" id="description" name="description"
                              placeholder="Opis" required></textarea>
                    <label for="description">Opis</label>
                </div>


                <div class="form-floating mb-3 upload-input-group">
                    <input type="number" class="form-control" id="barcode" name="barcode" placeholder="kod kreskowy"/>
                    <label for="name">kod kreskowy</label>
                </div>

                <div class="input-group mb-3 upload-input-group">
                    <label class="input-group-text" for="upload">Zdjęcie</label>
                    <input type="file" accept=".png, .jpg, .jpeg" class="form-control" id="upload" name="upload"
                           placeholder="załącz zdjęcie">

                </div>

                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-success" type="submit">Upload</button>
                    <button class="btn btn-outline-danger" type="reset">Reset</button>
                </div>

            </div>
        </form>
    </div>



{% endblock %}