{% extends "base.html" %} {% block title %}Upload{% endblock %}

{% block content %}

    <p>Click on the "Choose File" button to upload a file:</p>

    <form method="POST" enctype="multipart/form-data">

        <div class="form-floating p-2">

            <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Nazwa produktu"
            />
            <label for="name">Nazwa produktu</label>
        </div>

        <div class="form-floating p-2">

            <label for="brand">Producent</label>

            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="brand" name="brand">
                <option selected></option>
                {% for brand in brands %}
                    <option value="{{ brand.id }}">{{ brand.name }}</option>

                {% endfor %}
            </select>
        </div>

        <div class="form-floating p-2">

            <input
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    placeholder="Opis"
            />
            <label for="description">Opis</label>
        </div>


        <div class="form-floating p-2">

            <input
                    type="number"
                    class="form-control"
                    id="barcode"
                    name="barcode"
                    placeholder="kod kreskowy"
            />
            <label for="name">kod kreskowy</label>
        </div>

        <div class="form-floating p-3">

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="image" name="image" draggable="true" accept="image/jpeg, image/png, image/jpg">

            </div>

        </div>
    <button class="btn btn-primary" type="submit">Upload</button>
    <button class="btn btn-primary" type="reset">Reset</button>
    </form>


{% endblock %}